.application {

  &__container.container {
    position: relative;
    max-width: 1368px;
    padding: 87px 42px 58px 62px;
    background: $white;
    box-shadow: 6px 6px 70px rgba(0, 0, 0, 0.09);
    border-radius: 64px 6px;

    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      right: 0;
      bottom: 0;
      transform: translateX(35px);
      background: url(../../img/content/app-man.png) center center no-repeat;
      width: 347px;
      height: 570px;
    }
  }

  padding-bottom: 103px;

  h2 {
    padding-bottom: 49px;
  }

  strong {
    display: inline-block;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.09090;
    color: $primary-800;
    padding-bottom: 19px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
  }

  &__wrapper {
    flex: 0 0 25%;

    label {
      flex: 0 0 100%;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      color: $primary-500;
    }

    input {
      flex: 0 0 100%;
      border: 0;
      outline: none;
      font-size: 16px;
      line-height: 1.5;
    }

    &:nth-child(2) {
      margin: 42px 50px 0 0;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;

    background: $white;
    border: 1px solid $primary-100;
    border-radius: 10px;
    padding: 11px 17px 8px;
    margin-bottom: 30px;

    span {
      margin-bottom: 20px;
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 100%;

    p {
      font-size: 12px;
      line-height: 1.5;
      color: $primary-400;
    }

    a {
      border-bottom: 1px solid $primary-400;
      transition: color .3s ease, border-bottom .3s ease;

      &:hover {
        color: $primary-700;
        border-bottom: 1px solid $primary-700;
      }
    }
  }

  &__btn.btn {
    padding: 23px 42px;
    cursor: pointer;
    margin-right: 30px;
  }
}