<section class="income">
    <div class="container">
        <div class="income__inner">
            <h2 class="title">Доходность</h2>
            <div class="income-top">
                <p class="income__text">Доходность портфеля компании и инвестиционных вкладов «Нурфинанс» в % годовых за последние 11 месяцев</p>
                <ul class="income__pros">
                    <li>Общая доходность</li>
                    <li>Средняя доходность инвесторов</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="income__graph">
        <img src="../img/content/income-graph.png" alt="Income graph">
    </div>
</section>