<section class="pros">
    <div class="container">
        <ul class="pros__list">
            <li class="pros__item">
                <img src="../../img/icons/adv-1.png" alt="Pros 1">
                <p>Накапливайте, принося пользу обществу</p>
            </li>
            <li class="pros__item">
                <img src="../../img/icons/adv-2.png" alt="Pros 2">
                <p>Зарабатывайте честно и справедливо</p>
            </li>
            <li class="pros__item">
                <img src="../../img/icons/adv-3.png" alt="Pros 3">
                <p>Вкладывайте в реальные проверенные сделки</p>
            </li>
            <li class="pros__item">
                <img src="../../img/icons/adv-4.png" alt="Pros 4">
                <p>Обеспечьте вложения надежными активами</p>
            </li>
        </ul>
    </div>
</section>