<section class="questions">
  <div class="questions__inner">
    <div class="questions__content">
      <h2>У вас остались вопросы?<br><span>Закажите консультацию специалиста</span></h2>
      <p>Мы подробно ответим на все ваши вопросы и подберем наиболее удобный вариант вклада</p>
      <a class="btn questions__btn" href="#">Заказать консультацию</a>
      <a class="btn btn--white questions__btn" href="#">Онлайн чат</a>
    </div>
    <img class="questions__img" src="../img/content/questions-1.png" alt="Questions person">
  </div>
</section>