<section class="invest-products">
  <div class="container">
    <div class="invest-products__inner">
      <div class="invest-products__left">
        <h2>Инвестиционные продукты</h2>
        <p>ИФК «Нурфинанс» готов принимать инвестиции в сумме от 100 000 рублей сроком от 3-х месяцев до 3-х лет на следующих условиях:</p>
      </div>
      <div class="invest-products__right">
        <p>Вкладчик (инвестор) вносит денежные средства в капитал Товарищества на вере «Нурфинанс», становясь участником Товарищества на вере, неся риск убытков, связанных с деятельностью Товарищества, в пределах внесенного вклада, но при этом не принимает участие в осуществлении Товариществом предпринимательской деятельности. Такая форма участия инвестора основана на Шариатском стандарте «Мудараба». По договору, клиент-инвестор передает в управление свой капитал компании «Нур Финанс». Далее капитал направляются на финансирование торговых операций и бизнес-проектов. Начисление дохода, причитающегося к выплате Вкладчику (инвестору), осуществляется Товариществом ежемесячно.</p>
      </div>
    </div>
    <div class="invest-products__items">
      <div class="invest-products__item">
        <img src="../img/content/invest-prod-1.png" alt="Invest product">
        <strong>Инвестиции</strong>
        <h4>Вклад Накопительный</h4>
        <ul>
          <li><span>17,5%</span>Доходность, до</li>
          <li><span>90 дней</span>Срок вклада, от</li>
        </ul>
        <p>Доход выплачивается по окончании срока договора, возможно досрочное расторжение</p>
        <div class="invest-products__btns">
          <a class="btn" href="#">Инвестировать</a>
          <a class="btn btn--white" href="#">Подробнее</a>
        </div>
      </div>
      <div class="invest-products__item">
        <img src="../img/content/invest-prod-2.png" alt="Invest product">
        <strong>Инвестиции</strong>
        <h4>Вклад Активный</h4>
        <ul>
          <li><span>16,5%</span>Доходность, до</li>
          <li><span>90 дней</span>Срок вклада, от</li>
        </ul>
        <p>Доход выплачивается по окончании срока договора, возможно досрочное расторжение</p>
        <div class="invest-products__btns">
          <a class="invest-products__btn btn" href="#">Инвестировать</a>
          <a class="invest-products__btn btn btn--white" href="#">Подробнее</a>
        </div>
      </div>
      <div class="invest-products__item">
        <img src="../img/content/invest-prod-3.png" alt="Invest product">
        <strong>Инвестиции</strong>
        <h4>Вклад Комфорт</h4>
        <ul>
          <li><span>17,5%</span>Доходность, до</li>
          <li><span>90 дней</span>Срок вклада, от</li>
        </ul>
        <p>Доход выплачивается по окончании срока договора, возможно досрочное расторжение</p>
        <div class="invest-products__btns">
          <a class="btn" href="#">Инвестировать</a>
          <a class="btn btn--white" href="#">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>