<section class="video">
    <div class="container">
        <div class="video__inner">
            <div class="video__link">
                <div class="video__link-img">
                    <img src="../../img/content/video-1.png" alt="Video picture">
                </div>
                <a class="btn" href="#">Видео о работе компании</a>
            </div>
            <div class="video__content">
                <h2>Разумные инвестиции</h2>
                <p>Вкладывая свои деньги в ИФК «Нур Финанс», инвестор получает:</p>
                <ul>
                    <li>
                        <strong>Долю в имуществе и активах компании</strong>
                    </li>
                    <li>
                        <strong>Долю в прибыли компании</strong>
                        <p>От торговых операций, обеспеченных реальными активами.
                            Доля в прибыли инвестора закрепляется в договоре в соответствии с условиями, которые зависят от суммы и срока инвестиционного вклада. В случае отрицательного финансового результата, убытки распределяются между инвесторами пропорционально доле каждого инвестора (вкладчика)
                            в общем капитале компании.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>