<section class="hero">
    <div class="container">
        <div class="hero__slider">
            <div class="hero__content">
                <h1>Максимальная доля прибыли по вкладам <span>НурФинанс</span></h1>
                <p>Инвестор получает наибольший капитализированный доход</p>
                <div class="hero__btns">
                    <a class="hero__btn btn" href="#">Инвестиционные продукты</a>
                </div>
                <div class="hero__dots">
                    <input type="radio" name="field" id="1">
                    <label for="1"></label>
                    <input type="radio" name="field" id="2">
                    <label for="2"></label>
                    <input type="radio" name="field" id="3" checked>
                    <label for="3"></label>
                    <input type="radio" name="field" id="4">
                    <label for="4"></label>
                    <input type="radio" name="field" id="5">
                    <label for="5"></label>
                </div>
            </div>
            <div class="hero__imgs">
                <img src="./img/content/man-2.png" alt="Person for slider">
            </div>
        </div>
    </div>
</section>