// colors

$primary-1000: #030354;
$primary-900: #191999;
$primary-800: #0000DE;
$primary-700: #355DFB;
$primary-600: #60AAFB;
$primary-500: #6E9BB8;
$primary-400: #9AA3C8;
$primary-300: #CBD8E9;
$primary-200: #C9CEE1;
$primary-100: #EBF6FF;
$primary-90: #F0F4F8;


$black: #000;
$white: #fff;


// fonts 

$primary-font: 'Ubuntu', sans-serif;
$icomoon: 'icomoon';


// size

$fullWidth               : 1285px;
$desktopWidth            : 1115px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;