<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <address class="footer__info">
                    <strong class="footer__logo">
                        <a href="#">
                            <img src="./img/icons/footer_logo.svg" alt="Нурфинанс">
                        </a>
                    </strong>
                    <div class="footer__tel">8 800 2700 700<span>support@nur.finance</span></div>
                    <div class="footer__address">Казань, ул. Мавлютова, дом 31<span>Мы работаем с 08:00 до 20:00</span></div>
                    <ul class="footer__social">
                        <li class="footer__social-item">
                            <a href="#"></a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#"></a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#"></a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#"></a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#"></a>
                        </li>
                    </ul>
                </address>
                <div class="footer__search">
                    <div class="footer__input-wrapper">
                        <input class="footer__input" type="search" placeholder="Поиск по услугам"></input>
                    </div>
                    <nav>
                        <ul class="footer__list">
                            <li class="footer__list-item footer__list-title">
                                <a href="#">Инвестиции</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Вклад Накопительный</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Вклад Активный</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Вклад Комфорт</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Калькулятор</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Отзывы по инвестициям</a>
                            </li>
                        </ul>
                        <ul class="footer__list">
                            <li class="footer__list-item footer__list-title">
                                <a href="#">Рассрочка</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">АвтоРассрочка</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Долевое финансирование</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Долговое финансирование</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Калькулятор</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Отзывы по займам</a>
                            </li>
                        </ul>
                        <ul class="footer__list">
                            <li class="footer__list-item footer__list-title">
                                <a href="#">Компания</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">О компании</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Новости</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Отчетность</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Сотрудничество</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Реквизиты</a>
                            </li>
                        </ul>
                        <ul class="footer__list">
                            <li class="footer__list-item footer__list-title">
                                <a href="#">Информация</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Халяль подробно</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Наши партнеры</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Частые вопросы</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Личный кабинет</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer__bottom">
                <h5>Заголовок о доп моментах</h5>
                <p class="footer__bottom-text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. </p>
                
                <div class="footer__bottom-info">
                    <p>© 2021 АО «НурФинанс»</p>
                    <a href="#">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</footer>
