<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="header-top">
                <p class="header-top__pretitle">Инвестиционно-финансовая компания</p>
                <a class="header-top__city" href="#">Город Казань<a>
                        <ul class="header-top__list">
                            <li class="header-top__item">
                                <a href="#">О компании</a>
                            </li>
                            <li class="header-top__item">
                                <a href="#">Отзывы</a>
                            </li>
                            <li class="header-top__item">
                                <a href="#">Халяль подробно</a>
                            </li>
                            <li class="header-top__item">
                                <a href="#">Отчетность</a>
                            </li>
                            <li class="header-top__item">
                                <a href="#">Наши партнеры</a>
                            </li>
                            <li class="header-top__item">
                                <a href="#">Сотрудничество</a>
                            </li>
                            <li class="header-top__item header-top__contact">
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                        <a class="header-top__lang" href="#">Ru</a>
            </nav>
            <nav class="header-bottom">
                    <button class="header-bottom__burger"><img src="./img/icons/burger-menu.svg" alt="Burger icon"></button>
                <strong>
                    <a href="./index.html">
                        <img class="header-logo" src="./img/icons/logo.svg" alt="Нурфинанс">
                        <img class="header-logo-md" src="./img/icons/logo-md.svg" alt="Нурфинанс">
                        <img class="header-logo-sm" src="./img/icons/logo-sm.svg" width="32" height="32" alt="Нурфинанс">
                    </a>
                </strong>
                <ul class="header-bottom__list">
                    <li class="header-bottom__item">
                        <a href="./invest.html">Инвестиции</a>
                    </li>
                    <li class="header-bottom__item">
                        <a href="#">Рассрочка</a>
                    </li>
                    <li class="header-bottom__item">
                        <a href="#">Калькулятор</a>
                    </li>
                    <li class="header-bottom__item">
                        <a class="header-bottom__tel" href="tel:88002700700">8 800 2700 700</a>
                    </li>
                    <li class="header-bottom__item">
                        <a class="header-bottom__search" href="#"></a>
                    </li>
                </ul>
                <ul class="header-bottom__links">
                    <li>
                        <a class="header-bottom__btn btn" href="#">Личный Кабинет</a>
                    </li>
                    <li>
                        <a class="header-bottom__btn btn btn--white" href="#">Онлайн-заявка</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>