<section class="features">
  <div class="container">
    <h2>Ваши возможности с НурФинанс</h2>
    <div class="features__inner">
      <div class="features__advantages">
        <ul>
          <li>
            <img src="./img/icons/adv-1.png" alt="Advantages">
            <p>Накапливайте, принося пользу окружающим (обществу)</p>
          </li>
          <li>
            <img src="./img/icons/adv-2.png" alt="Advantages">
            <p>Зарабатывайте честно и справедливо</p>
          </li>
          <li>
            <img src="./img/icons/adv-3.png" alt="Advantages">
            <p>Вкладывайте в реальные проверенные сделки</p>
          </li>
          <li>
            <img src="./img/icons/adv-4.png" alt="Advantages">
            <p>Обеспечьте вложения надежными активами</p>
          </li>
        </ul>
        <a class="features__btn btn" href="#">Инвестиционные продукты</a>
      </div>
      <div class="features__content">
        <div class="features__content-top">
          <div class="features__content-side">
            <h4>Получайте повышенный доход от вложений</h4>
            <img src="./img/content/features-1.png" alt="Income graph">
          </div>
          <div class="features__content-side">
            <h4>Инвестируйте со стабильным результатом</h4>
            <img src="./img/content/features-2.png" alt="Investment graph">
          </div>
        </div>
        <h4>Возвращайте свои средства вовремя</h4>
        <div class="features__content-bottom">
          <div class="features__content-side">
            <strong><span>Недвижимость</span> низкая ликвидность</strong>
            <span>Срок возврата от 3 месяцев</span>
          </div>
          <div class="features__content-side">
            <strong><span>НурФинанс</span> высокая ликвидность</strong>
            <span>Срок возврата от 3 дней</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>