<section class="hero">
    <div class="container">
        <div class="hero__slider">
            <div class="hero__content">
                <h1>Инвестируйте с повышенной доходностью до <span>19%</span> годовых</h1>
                <p>100% обеспеченность активами, прибыль каждые 3 месяца!</p>
                <div class="hero__btns">
                    <a class="hero__btn btn" href="#">Личный Кабинет</a>
                    <a class="hero__btn btn btn--white" href="#">Онлайн-заявка</a>
                </div>
                <div class="hero__dots">
                    <input type="radio" name="field" id="1">
                    <label for="1"></label>
                    <input type="radio" name="field" id="2">
                    <label for="2"></label>
                    <input type="radio" name="field" id="3" checked>
                    <label for="3"></label>
                    <input type="radio" name="field" id="4">
                    <label for="4"></label>
                    <input type="radio" name="field" id="5">
                    <label for="5"></label>
                </div>
            </div>
            <div class="hero__imgs">
                <img src="./img/content/man-1.png" alt="Person for slider">
            </div>
        </div>
    </div>
</section>