<section class="info">
  <div class="container">
    <h2>Полезная информация</h2>
    <div class="info__items">
      <div class="info__item">
        <strong>Ответы</strong>
        <img src="./img/icons/info-icon-1.png" alt="info icon" />
        <h3>
          Часто задаваемые<br />
          вопросы
        </h3>
        <ul class="info__list">
          <li>
            <input class="info__list-input" type="checkbox" id="accordion-1" />
            <label class="info__list-label" for="accordion-1"
              ><h5>
                Что такое инвестиции?<br />
                Зачем нужно инвестировать?
              </h5></label
            >
            <div class="info__list-content">
              <p>
                Далеко-далеко за словесными горами в стране гласных и согласных
                живут рыбные тексты. Вдали строчка буквенных большой своего
                вопроса языком оксмокс предложения вопрос!
              </p>
            </div>
          </li>
          <li>
            <input class="info__list-input" type="checkbox" id="accordion-2" />
            <label class="info__list-label" for="accordion-2"
              ><h5>
                Какие стратегии инвестирования<br />
                существуют и какую лучше выбрать?
              </h5></label
            >
            <div class="info__list-content">
              <p>
                Далеко-далеко за словесными горами в стране гласных и согласных
                живут рыбные тексты. Вдали строчка буквенных большой своего
                вопроса языком оксмокс предложения вопрос!
              </p>
            </div>
          </li>
          <li>
            <input class="info__list-input" type="checkbox" id="accordion-3" />
            <label class="info__list-label" for="accordion-3"
              ><h5>
                Как защищены мои инвестиции?<br />
                Что будет, если компания обанкротится?
              </h5></label
            >
            <div class="info__list-content">
              <p>
                Далеко-далеко за словесными горами в стране гласных и согласных
                живут рыбные тексты. Вдали строчка буквенных большой своего
                вопроса языком оксмокс предложения вопрос!
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="info__item">
        <strong>Халяль</strong>
        <img src="./img/icons/info-icon-2.png" alt="info icon" />
        <h3>
          Отличие исламских<br />
          инвестиций от неисламских
        </h3>
        <ul>
          <li>
            <input class="info__list-input" type="checkbox" id="accordion-4" />
            <label class="info__list-label" for="accordion-4"
              ><h5>
                Термин «Риба» - что такое<br />
                ростовщические операциии?
              </h5></label
            >
            <div class="info__list-content">
              <p>
                Далеко-далеко за словесными горами в стране гласных и согласных
                живут рыбные тексты. Вдали строчка буквенных большой своего
                вопроса языком оксмокс предложения вопрос!
              </p>
            </div>
          </li>
          <li>
            <input class="info__list-input" type="checkbox" id="accordion-5" />
            <label class="info__list-label" for="accordion-5"
              ><h5>
                Как проверяют компании<br />
                на соответствие нормам халяль.?
              </h5></label
            >
            <div class="info__list-content">
              <p>
                Далеко-далеко за словесными горами в стране гласных и согласных
                живут рыбные тексты. Вдали строчка буквенных большой своего
                вопроса языком оксмокс предложения вопрос!
              </p>
            </div>
          </li>
          <li>
            <input class="info__list-input" type="checkbox" id="accordion-6" />
            <label class="info__list-label" for="accordion-6"
              ><h5>
                Термин «Сукук» - эквивалент<br />
                исламских облигаций
              </h5></label
            >
            <div class="info__list-content">
              <p>
                Далеко-дaалеко за словесными горами в стране гласных и согласных
                живут рыбные тексты. Вдали строчка буквенных большой своего
                вопроса языком оксмокс предложения вопрос!
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="info__item">
        <strong>Полезное</strong>
        <img src="./img/icons/info-icon-3.png" alt="info icon" />
        <h3>
          Школа<br />
          инвестора
        </h3>
        <ul>
          <li>
            <input class="info__list-input" type="checkbox" id="accordion-7" />
            <label class="info__list-label" for="accordion-7"
              ><h5>
                7 финансовых советов на 2021 год.<br />
                Что делать, чтобы накопить на цель?
              </h5></label
            >
            <div class="info__list-content">
              <p>
                Далеко-далеко за словесными горами в стране гласных и согласных
                живут рыбные тексты. Вдали строчка буквенных большой своего
                вопроса языком оксмокс предложения вопрос!
              </p>
            </div>
          </li>
          <li>
            <input class="info__list-input" type="checkbox" id="accordion-8" />
            <label class="info__list-label" for="accordion-8"
              ><h5>
                Какие книги надо прочитать<br />
                инвестору-новичку: топ-5 книг
              </h5></label
            >
            <div class="info__list-content">
              <p>
                Далеко-далеко за словесными горами в стране гласных и согласных
                живут рыбные тексты. Вдали строчка буквенных большой своего
                вопроса языком оксмокс предложения вопрос!
              </p>
            </div>
          </li>
          <li>
            <input class="info__list-input" type="checkbox" id="accordion-9" />
            <label class="info__list-label" for="accordion-9"
              ><h5>
                Сколько нужно денег,<br />
                чтобы начать инвестировать
              </h5></label
            >
            <div class="info__list-content">
              <p>
                Далеко-далеко за словесными горами в стране гласных и согласных
                живут рыбные тексты. Вдали строчка буквенных большой своего
                вопроса языком оксмокс предложения вопрос!
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
