<section class="products">
    <div class="container">
        <h2 class="title products__title">Рекомендуемые продукты</h2>
        <div class="products__items">
            <div class="products__item">
                <div class="products__content">
                    <strong>Инвестиции</strong>
                    <h3>Вклад Комфорт</h3>
                    <div class="products__sett">
                        <div><span>17,5%</span>Доходность, до</div>
                        <div><span>90 дней</span>Срок вклада, от</div>
                    </div>
                    <p>Доход выплачивается по окончании срока договора, возможно досрочное расторжение</p>
                    <div class="products__btns">
                        <a class="products__btn btn" href="#">Инвестировать</a>
                        <a class="products__btn btn btn--white" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="products__img products__img--big">
                    <img src="../../img/content/products-1.png" alt="Husband and wife clients">
                </div>
            </div>

            <div class="products__item products__item--sm">
                <div class="products__content">
                    <strong>Финансирование</strong>
                    <h3>Авто Рассрочка</h3>
                    <div class="products__sett">
                        <div><span>5 млн</span>Сумма, до</div>
                        <div><span>3 лет</span>Срок, до</div>
                    </div>
                    <p>Отсутствие обязательности страхования КАСКО. Первоначальный взнос от 10%</p>
                    <div class="products__btns">
                        <a class="products__btn btn" href="#">Оформить</a>
                        <a class="products__btn btn btn--white" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="products__img">
                    <img src="../../img/content/products-2.png" alt="Husband and wife clients">
                </div>
            </div>

            <div class="products__item products__item--sm">
                <div class="products__content">
                    <strong>Финансирование</strong>
                    <h3>Экспресс Рассрочка</h3>
                    <div class="products__sett">
                        <div><span>1 млн</span>Сумма, до</div>
                        <div><span>3 лет</span>Срок, до</div>
                    </div>
                    <p>Финансирование физическим лицам для приобретения необходимых товаров</p>
                    <div class="products__btns">
                        <a class="products__btn btn" href="#">Оформить</a>
                        <a class="products__btn btn btn--white" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="products__img">
                    <img src="../../img/content/products-3.png" alt="Husband and wife clients">
                </div>
            </div>

            <div class="products__item">
                <div class="products__content">
                    <strong>Инвестиции</strong>
                    <h3>Вклад Активный</h3>
                    <div class="products__sett">
                        <div><span>16,5%</span>Доходность, до</div>
                        <div><span>90 дней</span>Срок вклада, от</div>
                    </div>
                    <p>Доход выплачивается по окончании срока договора, возможно досрочное расторжение</p>
                    <div class="products__btns">
                        <a class="products__btn btn" href="#">Инвестировать</a>
                        <a class="products__btn btn btn--white" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="products__img products__img--center products__img--big">
                    <img src="../../img/content/products-4.png" alt="Husband and wife clients">
                </div>
            </div>
        </div>

        

    </div>
</section>