<section class="reviews">
    <div class="container">
      <h2>Отзывы клиентов</h2>
    </div>
    <div class="reviews__inner">
      <div class="reviews__slider">
        <span class="reviews__arrow reviews__arrow-left"></span>
        <div class="reviews__item">
          <a class="reviews__video" href="#">
            <img src="./img/content/reviews-1.png" alt="reviews image">
          </a>
          <strong>Евгений Садков</strong>
          <p>Программа – Экспресс Рассрочка</p>
        </div>
        <div class="reviews__item">
          <a class="reviews__video" href="#">
            <img src="./img/content/reviews-2.png" alt="reviews image">
          </a>
          <strong>Анастасия Майер</strong>
          <p>Инвестиции  –  Вклад Активный</p>
        </div>
        <div class="reviews__item">
          <a class="reviews__video" href="#">
            <img src="./img/content/reviews-3.png" alt="reviews image">
          </a>
          <strong>Евгений Садков</strong>
          <p>Программа  –  Авто Рассрочка</p>
        </div>
      </div>
      <span class="reviews__arrow reviews__arrow-right"></span>
      <a class="btn btn--white reviews__btn" href="#">Смотреть больше отзывов</a>
    </div>
</section>